# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Env files
.env
*.env.local

# Node
node_modules/
dist/
.cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.pyc
